node_modules/
artifacts/
cache/
out/
dist/
types/

# Ignore Environment Variables!
.env
.env.prod

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.*


broadcast
coverage/
coverage.json

# Ignore local misc files
.yarn/install-state.gz
.DS_Store
*.pem
*.swp
